
.container {
  width: 600px;
  height: 600px;
  padding: 0;
  border: 5px solid gray;
  margin: 0;
  display: grid;
  position: relative; 
}

.newDiv {
  width: auto;
  height: auto;
  border: 1px solid black;
}